html {
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.site-header {
    background-color: cadetblue;
    height: 5vh;
    min-height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.barra {
    display: flex;
    justify-content: space-between;
}
.barra a {
    text-decoration: none;
    color: black;
}
.opcionesBarra {
    padding-top: 0.7rem;
    display: flex;
}
.opcionesBarra a {
    margin-right: 5rem;
    text-decoration: none;
    color:black;
}
.opcionesBarra a:last-of-type{
    margin-right: 0;
}
.iconito {
    margin-top: 1.5rem;
}
.seccion1 {
    /* padding-top: 1rem; */
    display: flex;
}
.contenidoSeccion {
    margin-top: 7rem;
    padding-left: 8rem;
    padding-right: 9rem;
    line-height: 2.5;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;          */
    margin-right: 0rem;
}
.anuncio {
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border: 0.1rem solid #b5b5b5;
    background-color: #f5f5f5;
    /* margin-right: 1.2rem; */
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: block!important;
    width: 80%;
}
.anuncio:last-of-type {
    margin-right: 0rem;
    width: 80%;
}
.anuncio img {
    height: 30rem;
    max-width: 36.1rem;
    max-height: 25rem;
}
.contenedor-anuncios div:last-of-type{
    margin-right: 0;
    /* padding-right: 2rem; */
}
.contenido-anuncio {
    padding: 2rem;
}
.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 10rem;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
}
.boton-amarillo {
    background-color: #e07809;
}
.d-block {
    display: block!important;
}
@media screen and (max-width: 1020px){
    .seccion1 {
        /* padding-top: 1rem; */
        display: flex;
    }
    .seccion1 img {
        height: 22rem;
    }
    .contenidoSeccion {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 2.5;
    }
    .opcionesBarra a:last-of-type{
        margin-right: 0;
    }
}
@media screen and (max-width: 980px){
    .seccion1 {
        /* padding-top: 1rem; */
        display: flex;
    }
    .seccion1 img {
        height: 18rem;
    }
    .contenidoSeccion {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 2.5;
    }
    .opcionesBarra a:last-of-type{
        margin-right: 0;
    }
}
@media screen and (max-width: 780px){
    .seccion1 {
        /* padding-top: 1rem; */
        display: flex;
    }
    .seccion1 img {
        height: 18rem;
        margin-top: 5rem;
    }
    .contenidoSeccion {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 2.5;
    }
    .opcionesBarra a:last-of-type{
        margin-right: 0;
    }
}

@media screen and (max-width: 580px){
    .seccion1 {
        /* padding-top: 1rem; */
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .seccion1 img {
        height: 25rem;
    }
    .contenidoSeccion {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 2.5;
    }
    .contenedor-anuncios {
    display: inline-block;
    /* margin-left: 2.4rem; */
    }
    .site-header {
        padding-bottom: 8rem;
        /* padding-right: 8rem; */
        margin-right: -4.9rem;
    }
    .opcionesBarra a:last-of-type{
        margin-right: 0;
    }
    .foot {
        margin-bottom: -15rem;
    }
    .anuncio {
        margin-left: 5rem;
    }
}
.usuario {
    /* margin-right: 1rem; */
    padding-right: 2rem;
}
.iconito {
    font-size:3rem;
    margin-top:0.5rem;
    margin-right:-1.5rem;
}
.contenedor-contador {
    padding: 2rem 2rem 2rem 2rem;
    background: cadetblue;
    height: 80%;
    margin-top: 8.1rem;
    border-radius: 5%;
    border-style: solid;
}
   
